.photo-grid {
  display: grid;
  justify-items: center;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  margin: 0 3.75% 92px;
  grid-auto-columns: 0;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, minmax(min-content, 300px));
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
    margin: 0 4.69% 92px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, minmax(min-content, 352px));
    grid-template-rows: repeat(6, 1fr);
    margin: 0 3.13% 88px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
    margin: 0 5% 64px;
  }
}
