.footer__link {
  max-width: 106px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #FFFFFF;
}

.footer__link:hover {
  opacity: 0.8;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .footer__link {
    max-width: 158px;
    font-size: 24px;
    line-height: 24px;
  }
}
