.cover {
  margin: 12px auto 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1184px;
  min-height: 740px;
  background: url('../../images/cover-trains.jpg') center no-repeat;
  width: 100%;
  height: 10vh;
  background-size: cover;
  background-color: rgb(42, 44, 47, 0.3);
  background-blend-mode: overlay;
  text-decoration: none;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
    margin: 12px auto 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 18px auto 88px;
    max-width: 100%;
    min-height: 480px;
  }
}

@media screen and (max-width: 402px) {
  .cover {
    margin: 16px auto 64px;
    max-width: 100%;
    min-height: 200px;
  }
}
